[package]
name = "hello"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
opt-level = "s"
codegen-units = 1
panic = "abort"
strip = true
debug = false

[dependencies]
alsa = "0.11"
opus = "0.3"
anyhow = "1.0"
